//<Шрифт по умолчанию>
$fontFamily: 'Open Sans', Arial, sans-serif;

//<Используемые цвета>
$brand-background-color: #1f2022;
$brand-text-color: #f5d245;

// Viewports
$tablet-width: 768px;
$desktop-width: 1250px;

$mobile-width-only: 767px;

$min-width: 320px;
$max-width-container: 1250px;
