.advantage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  text-align: left;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantage--title {
  font-size: 35px;
  line-height: 1.17;
  font-weight: 500;
  color: #000;
  margin-bottom: 28px;
  @media (min-width: $desktop-width) {
    font-size: 34px;
  }
}

.advantage__list {

}
.advantage--text {
  font-size: 15px;
  line-height: 1.45;
  font-weight: 300;
  color: rgb(89, 89, 89);
  margin-bottom: 10px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.advantage--image {
  order: 0;
}

.advantage__column {
  order: 1;
  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }
}
