.available {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $brand-background-color;
}

.available__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: $brand-text-color;
  line-height: 1.23;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  @media (min-width: $tablet-width) {
    display: block;
    text-align: center;
  }
}

.available__text {
  font-size: 10px;
  line-height: 1.45;
  color: rgb(210, 210, 210);
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
