.available {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1f2022;
}

.available--title {
  font-size: 25px;
  color: #f5d245;
  line-height: 1.23;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.available--text {
  font-size: 10px;
  line-height: 1.45;
  color: rgb(210, 210, 210);
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
