.description {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.description__text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.45;
  p {
    margin-bottom: 10px;
  }
  span {
    color: #000;
    font-weight: 600;
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
    p {
      margin-bottom: 15px;
    }
  }
}

.description__list {
  margin-bottom: 15px;
}

.description__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &::before {
    content: '';
    background-image: url("../img/description/icon.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    flex-shrink: 0;
  }
}
