.download {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.download--item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 15px;
  }
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
