.intro {
  height: 100vh;
  background-color: #3a3a42;
  @media (min-width: $tablet-width) {
    background-image: url("../img/intro/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  @media (orientation: landscape) {
    background-image: url("../img/intro/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
}

.intro-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  @media (min-width: $mobile-width-only) and (orientation: portrait) and (min-height: 525px) {
    background-image: url("../img/intro/banner-mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
  @media (orientation: landscape) {
    align-items: flex-start;
  }
  @media (min-width: $tablet-width) {
    background: none;
    align-items: flex-start;
    padding-bottom: 15vh;
  }
  @media (min-width: $desktop-width) {
    margin-left: 250px;
  }
}
.intro__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.into__img {
  width: 250px;
  margin-bottom: 2vh;
  @media (min-width: $tablet-width) {
    margin-bottom: 8vh;
    width: 300px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 10vh;
    width: 450px;
  }
}

.intro__text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 3vh;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 22px;
    max-width: 550px;
  }
  @media (min-width: $desktop-width) {
    font-size: 28px;
    max-width: 750px;
  }
}

.intro__download {
  .download--item {
    border: 2px solid rgba($brand-text-color, .7);
    border-radius: 8px;
    overflow: hidden;
    svg {
      height: 40px;
      @media (min-width: $tablet-width) {
        height: 60px;
      }
      @media (min-width: $desktop-width) {
        height: 70px;
      }
    }
  }
}
